<mat-toolbar color="accent" fxLayoutAlign="space-between">
  <div fxLayoutAlign="space-around center">
    <button mat-button routerLink="/">
      Lord of the rings
    </button>
  </div>

  <div fxLayoutAlign="space-around center">
    <button mat-button color="warn" (click)="decreaseThreat(5)">
      Gandalf
    </button>

    <button mat-icon-button (click)="decreaseThreat()">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>

    <button mat-button (click)="setThreat(28)">
      {{ threat }}
    </button>

    <button mat-icon-button (click)="increaseThreat()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    <button mat-button color="warn" (click)="decreaseThreat(6)">
      Galadhrim
    </button>
  </div>

  <div fxLayoutAlign="space-around center">
    <button mat-button routerLink="/rules">
      Rules of play
    </button>
  </div>
</mat-toolbar>
