<div
  class="container"
  fxLayout="column"
  fxLayout.gt-sm="row wrap"
  fxLayoutGap="15px grid"
  *ngIf="cards$ | async as cards"
>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Cards</mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="space-between">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="{{ cards.enemy.length }} Enemies">
            <div
              class="container"
              fxLayout="column"
              fxLayout.gt-sm="row wrap"
              fxLayoutGap="15px grid"
            >
              <div
                fxFlex="10"
                *ngFor="
                  let card of cards.enemy;
                  let i = index;
                  trackBy: trackByFn
                "
              >
                <div>
                  <img
                    [defaultImage]="
                      'https://via.placeholder.com/150x210/000/?text=LOTR'
                    "
                    [lazyLoad]="'/assets/img/encounter/' + card.image + '.jpg'"
                    (mouseover)="
                      zoomService.mouseover(
                        '/assets/img/encounter/',
                        card.image + '.jpg',
                        'right'
                      )
                    "
                    (mouseout)="zoomService.mouseout()"
                    width="140"
                    height="198"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{ cards.location.length }} Locations">
            <div
              class="container"
              fxLayout="column"
              fxLayout.gt-sm="row wrap"
              fxLayoutGap="15px grid"
            >
              <div
                fxFlex="10"
                *ngFor="
                  let card of cards.location;
                  let i = index;
                  trackBy: trackByFn
                "
              >
                <div>
                  <img
                    [defaultImage]="
                      'https://via.placeholder.com/150x210/000/?text=LOTR'
                    "
                    [lazyLoad]="'/assets/img/encounter/' + card.image + '.jpg'"
                    (mouseover)="
                      zoomService.mouseover(
                        '/assets/img/encounter/',
                        card.image + '.jpg',
                        'right'
                      )
                    "
                    (mouseout)="zoomService.mouseout()"
                    width="140"
                    height="198"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{ cards.treachery.length }} Treacheries">
            <div
              class="container"
              fxLayout="column"
              fxLayout.gt-sm="row wrap"
              fxLayoutGap="15px grid"
            >
              <div
                fxFlex="10"
                *ngFor="
                  let card of cards.treachery;
                  let i = index;
                  trackBy: trackByFn
                "
              >
                <div>
                  <img
                    [defaultImage]="
                      'https://via.placeholder.com/150x210/000/?text=LOTR'
                    "
                    [lazyLoad]="'/assets/img/encounter/' + card.image + '.jpg'"
                    (mouseover)="
                      zoomService.mouseover(
                        '/assets/img/encounter/',
                        card.image + '.jpg',
                        'right'
                      )
                    "
                    (mouseout)="zoomService.mouseout()"
                    width="140"
                    height="198"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{ cards.objective.length }} Objectives">
            <div
              class="container"
              fxLayout="column"
              fxLayout.gt-sm="row wrap"
              fxLayoutGap="15px grid"
            >
              <div
                fxFlex="10"
                *ngFor="
                  let card of cards.objective;
                  let i = index;
                  trackBy: trackByFn
                "
              >
                <div>
                  <img
                    [defaultImage]="
                      'https://via.placeholder.com/150x210/000/?text=LOTR'
                    "
                    [lazyLoad]="'/assets/img/encounter/' + card.image + '.jpg'"
                    (mouseover)="
                      zoomService.mouseover(
                        '/assets/img/encounter/',
                        card.image + '.jpg',
                        'right'
                      )
                    "
                    (mouseout)="zoomService.mouseout()"
                    [width]="140"
                    [height]="card.type === 'quest' ? 98 : 198"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="{{ cards.quest.length }} Quests">
            <div
              class="container"
              fxLayout="column"
              fxLayout.gt-sm="row wrap"
              fxLayoutGap="15px grid"
            >
              <div
                fxFlex="10"
                *ngFor="
                  let card of cards.quest;
                  let i = index;
                  trackBy: trackByFn
                "
              >
                <div>
                  <img
                    [defaultImage]="
                      'https://via.placeholder.com/150x210/000/?text=LOTR'
                    "
                    [lazyLoad]="'/assets/img/encounter/' + card.image + '.jpg'"
                    (mouseover)="
                      zoomService.mouseover(
                        '/assets/img/encounter/',
                        card.image + '.jpg',
                        'right'
                      )
                    "
                    (mouseout)="zoomService.mouseout()"
                    [width]="140"
                    [height]="card.type === 'quest' ? 98 : 198"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
