<div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="33">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Introduction</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>Welcome to Middle-earth, a land of Hobbits, Elves,
                    Dwarves, Wizards, and Men. From the bright towns
                    and fields of the Shire, to the wilds of Mirkwood
                    Forest and Rhovanion, and to the powerful kingdoms
                    of Gondor and Rohan, the various peoples of this land
                    struggle against the foul minions and the ancient, evil
                    threat of the Dark Lord, Sauron.</p>

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Game overview
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>The Lord of the Rings: The Card Game is a game of
                            heroes, perilous journeys, and adventure set in the
                            lands described in the epic fantasy masterpiece created
                            by J.R.R. Tolkien, The Lord of the Rings. In this game,
                            players take on the role of a party of heroes who
                            are attempting to complete dangerous quests. These
                            quests take place during a timespan of 17 years: from
                            when Bilbo celebrates his 111th birthday (and Frodo’s
                            33rd) to days just prior to Frodo’s leaving the Shire.
                            Instead of directly retelling the classic stories that have
                            previously been narrated, this game provides players
                            with a variety of elements—characters, settings,
                            enemies, events, items, artifacts, scenarios—that allow
                            them to embark upon new adventures and share new
                            experiences with the beloved The Lord of the Rings
                            characters and settings during this period of Middleearth history.
                            Unlike most card games, in which the players compete
                            against each other, The Lord of the Rings: The Card
                            Game is a cooperative game in which the players
                            work together, competing against a scenario that is run
                            automatically by the game. In each game the players
                            attempt to overcome the particular encounters, enemies,
                            and challenges of a scenario, against which they either
                            win or lose together.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                The living card game
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>The Lord of the Rings: The Card Game is a one to
                            two player game that can be played using only the
                            contents of this core set. (Up to four players can play
                            the game cooperatively with a second copy of the core
                            set.) In addition, The Lord of the Rings: The Card
                            Game is a Living Card Game®, and the enjoyment
                            and experience of the game can be customized and
                            enhanced through the purchase of regularly released
                            60 card expansions called Adventure Packs. Each
                            Adventure Pack provides players with new options
                            and strategies for their decks, as well
                            as an entirely new scenario against which to play.
                            Additionally, deluxe Quest Packs introduce new areas
                            of Middle-earth in which players can journey, explore,
                            and seek new adventures. The Lord of the Rings: The
                            Card Game can be played both casually, with friends,
                            or through the organized play program that is officially
                            sanctioned by Fantasy Flight Games.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Gameplay overview
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>In each game of The Lord of the Rings: The Card
                            Game, players begin by choosing a scenario, and then
                            work together in an attempt to complete it. A scenario
                            is completed by successfully moving through all stages
                            of the quest deck. During a scenario, the encounter
                            deck aims to harm the heroes and to raise each player’s
                            threat level. A player is eliminated from the game if
                            all of his heroes are destroyed, or if his threat level
                            reaches 50. If all players are eliminated from the game,
                            the players have lost. If at least one player survives and
                            completes the final stage of the quest deck, all players
                            are victorious.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
        <br />

        <mat-card>
            <mat-card-header>
                <mat-card-title>Spheres of influence</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>There are four different spheres of influence in The
                    Lord of the Rings: The Card Game, and each has its
                    own distinct flavor and identity. Most player cards fall
                    under one of these spheres, represented by a unique
                    icon, as well as by a unique color on its card border.
                    Each hero has an emphasis in one of these four spheres.
                    A hero’s sphere dictates
                    the types of cards that hero
                    allows a player to use.</p>

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Leadership
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>The sphere of Leadership
                            emphasizes the charismatic
                            and inspirational influence
                            of a hero, and that hero’s
                            potential to lead, inspire, and
                            command both allies and
                            other heroes alike.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Lore
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>The sphere of Lore
                            emphasizes the potential
                            of a hero’s mind. Intellect,
                            wisdom, experience, and
                            specialized knowledge are
                            all under the domain of
                            this sphere.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Spirit
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>The sphere of Spirit
                            emphasizes the strength of a
                            hero’s will. Determination,
                            resilience, courage, loyalty,
                            and heart are all aspects of
                            this sphere.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Tactics
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>The sphere of Tactics
                            emphasizes a hero’s martial
                            prowess, particularly as it
                            relates to combat and to
                            overcoming other tactical
                            challenges that might
                            confront the players during
                            a quest.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="33">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Decks and card types</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>There are three different types of decks in The Lord
                    of the Rings: The Card Game: the quest deck, the
                    encounter deck, and the player deck. There are also
                    hero cards, which do not belong to any deck. Each deck
                    has its own function and its own set of card types, as
                    described below. In the game, each player plays one
                    player deck, and the players work together to move
                    through a fixed quest deck. A randomized encounter
                    deck operates in conjunction with the quest deck in
                    each scenario to challenge the players as they play
                    against the game.</p>

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                The quest deck
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Each scenario represents a quest that the players are
                            attempting to complete. At the beginning of a game,
                            the players must choose which scenario they wish to
                            play against for that game. A scenario consists of a
                            sequential deck of quest cards (referred to as “the quest
                            deck”) and a randomized encounter deck of enemy,
                            location, treachery, and objective cards.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Quest cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Each quest card represents one of the various stages of
                            the quest the players are pursuing in a scenario. Each
                            quest card is a numbered step in a fixed, sequential
                            order. These cards have their sequential information
                            printed on both sides, so they can be placed in the
                            correct order without spoiling the contents of the latter
                            stages in the scenario. Side A is the back of the card,
                            and provides story and setup information. After reading
                            and following any instructions on Side A, players flip
                            the card to Side B. Side B contains the information
                            necessary to move to the next stage of the quest.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                The encounter deck
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>The encounter deck represents the villains, hazards,
                            places, and circumstances that stand between the
                            players and the successful completion of their quest. An
                            encounter deck consists of enemy, location, treachery,
                            and objective cards. The contents of the encounter
                            deck are determined by the scenario the players are
                            attempting. The encounter deck is shuffled at the beginning of the
                            game.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Enemy cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Enemy cards represent the villains, creatures, monsters,
                            and minions that attempt to capture, destroy, or mislead
                            the heroes as they pursue their quest. Enemy cards
                            engage individual players and remain in play until they
                            are defeated.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Location cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Location cards represent the perilous places to which
                            the players may travel during a scenario. They are a
                            distant threat to the players from the staging area,
                            and during the course of the quest players
                            may opt to travel to a location to confront its threat.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Treachery cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Treachery cards represent traps, curses, maneuvers,
                            pitfalls, and other surprises the players might confront
                            during a scenario. When a treachery card is revealed
                            from the encounter deck, its text effects are resolved
                            immediately, and it is then placed in the encounter
                            discard pile.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Objective cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Depending on the scenario, objective cards can
                            represent a number of different elements, ranging from
                            the goals of a scenario, to allies who assist the players,
                            to keys that allow the players to advance to the next
                            stage of a quest, to artifacts that are necessary to defeat
                            a difficult enemy or overcome a particular challenge.
                            Unless otherwise specified, objective cards are shuffled
                            into the encounter deck when setting up a scenario. </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="33">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Decks and card types II</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Hero cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Hero cards represent the main characters a player
                            controls in an attempt to complete a scenario. Heroes
                            start in play, and they provide the resources that are
                            used to pay for the cards (allies, attachments, and
                            events) in a player’s deck. Heroes can also commit to
                            quests, attack, defend, and in many cases they bring
                            their own card abilities to the game. Each player
                            chooses 1-3 hero cards and starts the game with them
                            in play. </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Character cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Sometimes, game or rules text will refer to “character”
                            cards. Both heroes and allies are considered to be
                            “characters.” Card text that says “choose a character”
                            allows a player to choose either a hero or an ally card
                            as the target of the effect.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                The player deck
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>The player deck includes a combination of ally,
                            attachment, and event cards shuffled into a deck from
                            which a player draws his cards throughout the game.
                            No more than three copies of any ally, attachment, or
                            event card, by title, can be included in a player’s deck.
                            Each of the four 30-card starter decks in this core set
                            can be played out of the box as an introduction to the
                            game. For advanced play, the cards in these starter
                            decks can be combined with one another, or further
                            developed with cards from Adventure Pack expansions,
                            to create 50-card tournament decks. </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Attachment cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Attachment cards represent weapons, armor, artifacts,
                            equipment, skills, and conditions. When played, they
                            are always attached to (placed slightly under) another
                            card, and they tend to modify or influence the activity
                            of the card to which they are attached. If the card
                            to which an attachment is attached leaves play, the
                            attachment card is discarded.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Ally cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Ally cards represent characters (friends, followers,
                            creatures, and hirelings) that assist a player’s heroes on
                            the quest. Ally cards are played from a player’s hand,
                            and they remain in play until they are destroyed or
                            removed from play by a card effect.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Event cards
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Event cards represent maneuvers, actions, tactics,
                            spells, and other instantaneous effects at a player’s
                            disposal. An event card is played from a player’s hand,
                            its text effects are resolved, and the card is then placed
                            in its owner’s discard pile.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>
</div>
