.card-box {
  position: relative;

  .card-progress {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    left: 35%;
    padding: 13px 15px;
    position: absolute;
    text-align: center;
    top: 22%;
    width: 20px;

    &.card-enemy {
      background-image: url("../../assets/img/token/damage.png");
    }

    &.card-quest,
    &.card-location {
      background-image: url("../../assets/img/token/progress.png");
    }

    &.card-hero,
    &.card-objective {
      background-image: url("../../assets/img/token/ressource.png");
    }
  }
}
