<div class="card-box">
    <img [defaultImage]="'https://via.placeholder.com/240x340/000/?text=LOTR'"
         [lazyLoad]="'/assets/img/encounter/' + card.image + '.jpg'"
         alt=""
         [width]="card.type === 'quest' ? 213 : 150"
         [height]="card.type === 'quest' ? 150 : 213"
         hspace="6"
         [matMenuTriggerFor]="cardMenu"
         (mouseover)="zoomService.mouseover('/assets/img/encounter/',
         card.image + '.jpg',
         (card.type === 'location' || card.type === 'quest') ? 'left' : 'right',
         card.type !== 'quest')"
         (mouseout)="zoomService.mouseout()" />

    <div class="card-progress" [ngClass]="'card-' + card.type" *ngIf="card.progress >= 1">{{ card.progress }}</div>

    <mat-menu #cardMenu="matMenu">
        <ng-container [ngSwitch]="card.type">
            <ng-container *ngSwitchCase="'enemy'">
                <button mat-menu-item (click)="onCardActivation()" *ngIf="area === 'staging'">
                    <mat-icon>pan_tool</mat-icon>
                    Engage enemy
                </button>

                <button mat-menu-item (click)="onCardActivation()" *ngIf="area === 'engaging'">
                    <mat-icon>pan_tool</mat-icon>
                    Enemy defeated
                </button>
            </ng-container>

            <ng-container *ngSwitchCase="'location'">
                <button mat-menu-item (click)="onCardActivation()" *ngIf="area === 'staging'">
                    <mat-icon>location_on</mat-icon>
                    Travel to location
                </button>

                <button mat-menu-item (click)="onCardActivation()" *ngIf="area === 'location'">
                    <mat-icon>location_on</mat-icon>
                    Location discovered
                </button>
            </ng-container>

            <ng-container *ngSwitchCase="'treachery'">
                <button mat-menu-item (click)="onCardActivation()">
                    <mat-icon>check</mat-icon>
                    Effect resolved
                </button>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <button mat-menu-item (click)="onCardActivation()">
                    <mat-icon>pan_tool</mat-icon>
                    Play
                </button>
            </ng-container>
        </ng-container>

        <button mat-menu-item (click)="onCardDeactivation()">
            <mat-icon>wifi_protected_setup</mat-icon>
            Shuffle back
        </button>

        <div mat-menu-item *ngIf="card.type !== 'treachery' && card.type !== 'attachment'">
            <button mat-icon-button color="accent" (click)="decreaseProgress($event)">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>

            <button mat-icon-button color="accent" (click)="setProgress(0)">
                <mat-icon>settings_backup_restore</mat-icon>
            </button>

            <button mat-icon-button color="accent" (click)="increaseProgress($event)">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </mat-menu>
</div>
