:host {
  position: relative;
  z-index: 200;

  span {
    border-radius: 50%;
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 5px;
    text-align: center;
    transition: ease-in-out all 250ms;
    width: 20px;
    z-index: 300;

    &.enemy,
    &.objective {
      background-color: rgba(255,0,0,0.3);
    }

    &.location,
    &.quest {
      background-color: rgba(0,255,0,0.3);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.3);

      &.enemy,
      &.objective {
        background-color: rgba(255,0,0,0.6);
      }

      &.location,
      &.quest {
        background-color: rgba(0,255,0,0.6);
      }
    }
  }
}
