<div class="badge">
    <img [defaultImage]="'https://via.placeholder.com/240x340/000/?text=LOTR'"
         [lazyLoad]="'/assets/img/encounter/' + card.image"
         alt=""
         width="150"
         height="213"
         hspace="10"
         vspace="10"
         (mouseover)="zoomService.mouseover('/assets/img/encounter/', card.image, card.type === 'location' ? 'left' : 'right')"
         (mouseout)="zoomService.mouseout()"
         (click)="onCardActivation()" />

    <span *ngIf="card.type === 'enemy' || card.type === 'location'"
          (click)="increaseNumber()"
          [ngClass]="card.type">
        {{ number }}
    </span>
</div>
