<mat-dialog-content [ngStyle]="{ 'width': '1300px' }">
    <ng-container
        *ngIf="{
        encounterDeck: (encounterDeck$ | async),
        discardPile: (discardPile$ | async)
    } as data"
    >
        <mat-tab-group animationDuration="0ms">
            <mat-tab [label]="'Discard pile: ' + data.discardPile.length">
                <ng-container *ngIf="data.discardPile.length">
                    <button mat-button (click)="onResetDiscardPile()">
                        Reset discard pile
                    </button>
                </ng-container>

                <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
                    <ng-container *ngFor="let card of data.discardPile; trackBy: trackByFn">
                        <div fxFlex="33.3">
                            <button mat-button type="button" [matTooltip]="'Play card'" (click)="onPlayCard(card)">
                                <mat-icon>pan_tool</mat-icon>
                            </button>

                            <button mat-button type="button" [matTooltip]="'Shuffle back'" (click)="onShuffleBack(card)">
                                <mat-icon>wifi_protected_setup</mat-icon>
                            </button>

                            <button mat-button type="button" color="accent" [ngClass]="(card.type | lowercase) + '-card'">
                                {{ card.image.split("/")[1] }}
                                ({{ card.type.substr(0, 1) | uppercase }})
                            </button>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>

            <mat-tab [label]="'Encounter deck: ' + data.encounterDeck.length">
                <ng-container *ngIf="!data.encounterDeck.length">
                    <button mat-button (click)="onCreateEncounterDeck()">
                        Create new encounter deck
                    </button>
                </ng-container>

                <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
                    <ng-container *ngFor="let card of data.encounterDeck; let i = index; trackBy: trackByFn">
                        <div fxFlex="25">
                            <button mat-button type="button" [matTooltip]="'Play card'" (click)="onChooseCard(card, i)">
                                <mat-icon>pan_tool</mat-icon>
                            </button>

                            <button mat-button type="button" color="accent" [ngClass]="(card.type | lowercase) + '-card'">
                                {{ card.image.split("/")[1] }}
                                ({{ card.type.substr(0, 1) | uppercase }})
                            </button>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

