<ng-container
    *ngIf="{
        encounterDeck: (encounterDeck$ | async),
        stagingArea: (stagingArea$ | async),
        activeLocation: (activeLocation$ | async),
        shadowCard: (shadowCard$ | async),
        engagingArea: (engagingArea$ | async),
        discardPile: (discardPile$ | async),
        questDeck: (questDeck$ | async)
    } as data"
>
    <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
        <div fxFlex="100" fxLayoutAlign="space-between">
            <div>
                <button mat-mini-fab [color]="null" [matTooltip]="'Glossary'" (click)="openGlossaryModal()">
                    <mat-icon>menu_book</mat-icon>
                </button>

                <span [ngStyle]="{ 'margin': '0 5px' }">
                    <button mat-mini-fab [color]="null" [matTooltip]="'Cards'" (click)="openCardsModal()">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </span>
            </div>

            <app-threat-tracker></app-threat-tracker>

            <div>
                <button mat-mini-fab [color]="null" [matTooltip]="'History'" (click)="openHistoryModal()">
                    <mat-icon>update</mat-icon>
                </button>
            </div>
        </div>

        <div fxFlex="100">
            <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" [ngStyle]="{ 'height': '365px' }">
                <div fxFlex="15" fxLayoutAlign="start">
                    <img [defaultImage]="'https://via.placeholder.com/150x210/000/?text=LOTR'"
                         [lazyLoad]="'/assets/img/shadow.jpg'"
                         [matTooltip]="'Encounter deck'"
                         [matTooltipPosition]="'right'"
                         width="150" height="210" alt=""
                         (click)="onDrawCard()"
                         *ngIf="data.encounterDeck?.length" />
                </div>

                <div fxFlex="70" fxLayoutAlign="center">
                  <span *ngFor="let card of data.stagingArea; let i = index; trackBy: trackByFn">
                    <app-card [card]="card"
                              [area]="'staging'"
                              (activateCard)="onCardActivation(card)"
                              (deactivateCard)="onCardDeactivation(card, 'staging')"></app-card>
                  </span>
                </div>

                <div fxFlex="15" fxLayoutAlign="end">
                  <span *ngIf="data.activeLocation">
                    <app-card [card]="data.activeLocation"
                              [area]="'location'"
                              (activateCard)="onTravelToLocation(data.activeLocation, true)"
                              (deactivateCard)="onCardDeactivation(data.activeLocation, 'location')"
                              [matTooltip]="'Active location'"
                              [matTooltipPosition]="'left'"></app-card>
                  </span>
                </div>
            </div>

            <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap">
                <div fxFlex="15" fxLayoutAlign="start">
                    <ng-container *ngIf="data.shadowCard">
                        <img [defaultImage]="'https://via.placeholder.com/150x210/000/?text=LOTR'"
                             [lazyLoad]="'/assets/img/encounter/' + data.shadowCard['image'] + '.jpg'"
                             [matTooltip]="'Shadow card'"
                             [matTooltipPosition]="'right'"
                             (mouseover)="zoomService.mouseover('/assets/img/encounter/', data.shadowCard['image'] + '.jpg', 'left')"
                             (mouseout)="zoomService.mouseout()"
                             width="150" height="210" alt=""
                             (click)="onDiscardShadow()" />
                    </ng-container>

                    <ng-container *ngIf="!data.shadowCard">
                        <img [defaultImage]="'https://via.placeholder.com/150x210/000/?text=LOTR'"
                             [lazyLoad]="'/assets/img/shadow.jpg'"
                             [matTooltip]="'Shadow card'"
                             [matTooltipPosition]="'right'"
                             width="150" height="210" alt=""
                             (click)="onDrawShadow()"
                             *ngIf="data.encounterDeck?.length" />
                    </ng-container>
                </div>

                <div fxFlex fxLayoutAlign="center">
                  <span *ngFor="let card of data.engagingArea; trackBy: trackByFn">
                    <app-card [card]="card"
                              [area]="'engaging'"
                              (activateCard)="onEnemyDefeated(card, true)"
                              (deactivateCard)="onCardDeactivation(card, 'engaging')"></app-card>
                  </span>
                </div>

                <div fxFlex="15" fxLayoutAlign="end">
                    <div *ngIf="data.questDeck?.length >= 1">
                        <span *ngFor="let quest of data.questDeck; let i = index; trackBy: trackByFn">
                          <img [src]="'/assets/img/quest/' + quest.image + '.jpg'"
                               (mouseover)="zoomService.mouseover('/assets/img/quest/', quest.image + '.jpg', 'left', false)"
                               (mouseout)="zoomService.mouseout()"
                               width="105" alt="" hspace="5" vspace="5"
                               [matTooltip]="'Quest card'"
                               [matTooltipPosition]="'left'"
                               [matMenuTriggerFor]="questMenu"
                               [ngClass]="questStep === i ? 'active-quest' : 'inactive-quest'"
                               (click)="onChangeQuest(i)" />
                        </span>

                        <mat-menu #questMenu="matMenu">
                            <div mat-menu-item>
                                <app-counter></app-counter>
                            </div>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
