<div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="100" *ngFor="let keyword of keywords; trackBy: trackByFn">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ keyword.title }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p>{{ keyword.text }}</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
