<div fxLayoutAlign="space-around center">
    <div fxLayoutAlign="center">
        <button mat-mini-fab (click)="decreaseThreat('first')">
            <mat-icon>remove_circle_outline</mat-icon>
        </button>

        <span [ngStyle]="{ 'margin': '0 5px' }">
            <button mat-mini-fab
                    [matTooltip]="'Threat Tracker'"
                    [color]="firstPlayerThreat === 50 ? 'warn' : null"
                    (click)="setThreat('first', 28)">
                {{ firstPlayerThreat }}
            </button>
        </span>

        <button mat-mini-fab (click)="increaseThreat('first')">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>

    <div fxLayoutAlign="center">
        <button mat-icon-button
                *ngIf="playerCount === 1"
                (click)="playerCount = 2">
            <mat-icon>person_add</mat-icon>
        </button>

        <button mat-icon-button
                *ngIf="playerCount === 2"
                (click)="playerCount = 1">
            <mat-icon>person_remove</mat-icon>
        </button>
    </div>

    <div fxLayoutAlign="center">
        <ng-container *ngIf="playerCount >= 2">
            <button mat-mini-fab (click)="decreaseThreat('second')">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>

            <span [ngStyle]="{ 'margin': '0 5px' }">
                <button mat-mini-fab
                        [matTooltip]="'Threat Tracker'"
                        [color]="secondPlayerThreat === 50 ? 'warn' : null"
                        (click)="setThreat('second', 28)">
                    {{ secondPlayerThreat }}
                </button>
            </span>

            <button mat-mini-fab (click)="increaseThreat('second')">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </ng-container>
    </div>
</div>
