<ng-container
        *ngIf="{
        playerCount: (playerCount$ | async),
        firstPlayerThreat: (firstPlayerThreat$ | async),
        secondPlayerThreat: (secondPlayerThreat$ | async)
    } as data"
>
    <div fxLayoutAlign="space-around center">
        <div fxLayoutAlign="center">
            <button mat-mini-fab (click)="onDecreaseThreat('first')">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>

            <span [ngStyle]="{ 'margin': '0 5px' }">
                <button mat-mini-fab
                        [matTooltip]="'Threat Tracker'"
                        [color]="data.firstPlayerThreat === 50 ? 'warn' : null"
                        (click)="onSetThreat('first', 28)">
                    {{ firstPlayerThreat$ | async }}
                </button>
            </span>

            <button mat-mini-fab (click)="onIncreaseThreat('first')">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>

        <div fxLayoutAlign="center">
            <button mat-icon-button
                    *ngIf="data.playerCount === 1"
                    (click)="onAddPlayer()">
                <mat-icon>person_add</mat-icon>
            </button>

            <button mat-icon-button
                    *ngIf="data.playerCount === 2"
                    (click)="onRemovePlayer()">
                <mat-icon>person_remove</mat-icon>
            </button>
        </div>

        <div fxLayoutAlign="center">
            <ng-container *ngIf="data.playerCount >= 2">
                <button mat-mini-fab (click)="onDecreaseThreat('second')">
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>

                <span [ngStyle]="{ 'margin': '0 5px' }">
                    <button mat-mini-fab
                            [matTooltip]="'Threat Tracker'"
                            [color]="data.secondPlayerThreat === 50 ? 'warn' : null"
                            (click)="onSetThreat('second', 28)">
                        {{ secondPlayerThreat$ | async }}
                    </button>
                </span>

                <button mat-mini-fab (click)="onIncreaseThreat('second')">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
</ng-container>
