<ng-container *ngIf="shuffled">
  <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="19">
      <img src="/assets/img/deck.jpg" [matTooltip]="'Encounter deck'" [matTooltipPosition]="'right'" height="340" alt="" vspace="5" (click)="onDrawCard()" *ngIf="encounterDeck.length" />
    </div>

    <div fxFlex="64" fxLayoutAlign="center">
      <span *ngFor="let card of stagingArea; let i = index; trackBy: trackByFn" class="mark-box">
        <app-card *ngIf="card.type !== 'treachery'" [card]="card" (activateCard)="onCardActivation(card)"></app-card>
      </span>
    </div>

    <div fxFlex="17">
      <span *ngIf="activeLocation" class="mark-box">
        <app-card [card]="activeLocation" (activateCard)="onUpdateLocation()"></app-card>
      </span>
    </div>
  </div>

  <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="19">
      <ng-container *ngIf="shadowCard">
       <img [src]="'/assets/img/encounter/' + shadowCard.image" [matTooltip]="'Shadow card'" [matTooltipPosition]="'right'" class="zoom" height="340" alt="" vspace="5" (click)="onDiscardShadow()" />
      </ng-container>

      <ng-container *ngIf="!shadowCard">
       <img src="/assets/img/shadow.jpg" [matTooltip]="'Shadow card'" [matTooltipPosition]="'right'" height="340" alt="" vspace="5" (click)="onDrawShadow()" *ngIf="encounterDeck.length" />
      </ng-container>
    </div>

    <div fxFlex="55" fxLayoutAlign="center">
      <span *ngFor="let card of engagingArea; trackBy: trackByFn" class="mark-box">
        <app-card [card]="card" (activateCard)="onDefeatEnemy(card)"></app-card>
      </span>
    </div>

    <div fxFlex="26">
      <span class="mark-box">
        <app-counter [maxCounter]="17"></app-counter>

        <img [src]="'/assets/img/mission/' + questDeck[questStep]" [matTooltip]="'Quest deck'" [matTooltipPosition]="'left'" width="400" alt="" hspace="5" vspace="5" (click)="onChangeQuest(questStep + 1)" />

        <span *ngFor="let quest of questDeck; let i = index; trackBy: trackByFn">
          <img [src]="'/assets/img/mission/' + questDeck[i]" width="50" alt="" hspace="1" vspace="1" (click)="onChangeQuest(i)" />
        </span>
      </span>
    </div>
  </div>

  <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-tab-group color="accent" animationDuration="0ms">
            <mat-tab>
              <ng-template mat-tab-label>
                Discard pile: {{ discardPile.length }}
              </ng-template>

              <div>
            <span *ngFor="let card of discardPile; trackBy: trackByFn" class="mark-box">
              <mat-button-toggle-group class="mark-button">
                <mat-button-toggle (click)="onResetCard('encounter', card)">
                  Deck
                </mat-button-toggle>

                <mat-button-toggle (click)="onResetCard('staging', card)">
                  Area
                </mat-button-toggle>
              </mat-button-toggle-group>

              <img [src]="'/assets/img/encounter/' + card.image" [alt]="card.type" height="150" hspace="3" vspace="3" />
            </span>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Encounter deck: {{ encounterDeck.length }}
              </ng-template>

              <div>
            <span *ngFor="let card of encounterDeck; trackBy: trackByFn" class="mark-box">
              <img [src]="'/assets/img/encounter/' + card.image" [alt]="card.type" height="150" hspace="3" vspace="3" />
            </span>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Glossary
              </ng-template>

              <app-glossary></app-glossary>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>

<div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid" *ngIf="!shuffled">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>Deck size: {{ encounterDeck.length + stagingArea.length + discardPile.length + (activeLocation ? 1 : 0) }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
          <div fxFlex="20">
            <p>{{ text }}</p>

            <button mat-raised-button color="accent" (click)="onShuffleEncounter()">
              <mat-icon>wifi_protected_setup</mat-icon>
              Shuffle &amp; Start
            </button>
          </div>

          <div fxFlex="60">
            <span *ngFor="let card of encounterDeck; trackBy: trackByFn">
              <img [src]="'/assets/img/encounter/' + card.image" [alt]="card.type" height="130" hspace="3" vspace="3" (click)="onPreviewCard(card)" />
            </span>

            <span *ngFor="let card of stagingArea; trackBy: trackByFn">
              <img [src]="'/assets/img/encounter/' + card.image" [alt]="card.type" height="130" hspace="3" vspace="3" (click)="onPreviewCard(card)" />
            </span>

            <span *ngFor="let card of discardPile; trackBy: trackByFn">
              <img [src]="'/assets/img/encounter/' + card.image" [alt]="card.type" height="130" hspace="3" vspace="3" (click)="onPreviewCard(card)" />
            </span>

            <span *ngIf="activeLocation">
              <img [src]="'/assets/img/encounter/' + activeLocation.image" [alt]="activeLocation.type" height="130" hspace="3" vspace="3" (click)="onPreviewCard(activeLocation)" />
            </span>
          </div>

          <div fxFlex="20">
            <ng-container *ngIf="previewCard; else enlargeImage">
              <img [src]="'/assets/img/encounter/' + previewCard.image" [alt]="previewCard.type" width="300" hspace="3" vspace="3" (click)="onPreviewCard(null)" />
            </ng-container>

            <ng-template #enlargeImage>
              <button mat-button type="button">
                <mat-icon>info</mat-icon>
                Click image to enlarge
              </button>
            </ng-template>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
