img {
  border: 1px solid #424242;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    border-color: #eee;
  }

  &.zoom {
    transition: 300ms ease-in-out all;

    &:hover {
      transform: scale(1.4);
    }
  }
}

.content {
  min-height: 355px;
}

p {
  line-height: 1.5em;
}
