<ng-container *ngIf="shuffled">
  <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="18" fxLayoutAlign="start">
      <img [defaultImage]="'https://via.placeholder.com/240x340/000/?text=LOTR'"
           [lazyLoad]="'/assets/img/deck.jpg'"
           [matTooltip]="'Encounter deck'"
           [matTooltipPosition]="'right'"
           height="340" width="240" alt=""
           (click)="onDrawCard()"
           *ngIf="encounterDeck?.length" />
    </div>

    <div fxFlex="64" fxLayoutAlign="center">
      <span *ngFor="let card of stagingArea; let i = index; trackBy: trackByFn">
        <app-card [card]="card" (activateCard)="onCardActivation(card)"></app-card>
      </span>
    </div>

    <div fxFlex="18" fxLayoutAlign="end">
      <span *ngIf="activeLocation" class="mark-box">
        <app-card [card]="activeLocation" (activateCard)="onUpdateLocation()"></app-card>
      </span>
    </div>
  </div>

  <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="18" fxLayoutAlign="start">
      <ng-container *ngIf="shadowCard">
       <img [defaultImage]="'https://via.placeholder.com/240x340/000/?text=LOTR'"
            [lazyLoad]="'/assets/img/encounter/' + shadowCard.image"
            [matTooltip]="'Shadow card'"
            [matTooltipPosition]="'right'"
            class="zoom" height="340" width="240" alt=""
            (click)="onDiscardShadow()" />
      </ng-container>

      <ng-container *ngIf="!shadowCard">
       <img [defaultImage]="'https://via.placeholder.com/240x340/000/?text=LOTR'"
            [lazyLoad]="'/assets/img/shadow.jpg'"
            [matTooltip]="'Shadow card'"
            [matTooltipPosition]="'right'"
            height="340" width="240" alt=""
            (click)="onDrawShadow()"
            *ngIf="encounterDeck?.length" />
      </ng-container>
    </div>

    <div fxFlex="55" fxLayoutAlign="center">
      <span *ngFor="let card of engagingArea; trackBy: trackByFn" class="mark-box">
        <app-card [card]="card" (activateCard)="onDefeatEnemy(card)"></app-card>
      </span>
    </div>

    <div fxFlex="27" fxLayoutAlign="end">
      <div class="mark-box" *ngIf="questDeck?.length >= 1">
        <app-counter [maxCounter]="17"></app-counter>

        <img [defaultImage]="'https://via.placeholder.com/400x284/000/?text=LOTR'"
             [lazyLoad]="'/assets/img/quest/' + questDeck[questStep]"
             [matTooltip]="'Quest deck'"
             [matTooltipPosition]="'left'"
             height="284"
             width="400"
             alt=""
             (click)="onChangeQuest(questStep + 1)" />
        <br />

        <span *ngFor="let quest of questDeck; let i = index; trackBy: trackByFn">
          <img [src]="'/assets/img/quest/' + questDeck[i]" width="50" alt="" hspace="1" vspace="1" (click)="onChangeQuest(i)" />
        </span>
      </div>
    </div>
  </div>

  <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-tab-group color="accent" animationDuration="0ms">
            <mat-tab>
              <ng-template mat-tab-label>
                Discard pile: {{ discardPile?.length }}
              </ng-template>

              <div>
                <span *ngFor="let card of discardPile; trackBy: trackByFn" class="mark-box">
                  <mat-button-toggle-group class="mark-button">
                    <mat-button-toggle (click)="onResetCard('encounter', card)">
                      Deck
                    </mat-button-toggle>

                    <mat-button-toggle (click)="onResetCard('staging', card)">
                      Area
                    </mat-button-toggle>
                  </mat-button-toggle-group>

                  <img [src]="'/assets/img/encounter/' + card.image"
                       alt="" height="150" width="106" hspace="3" vspace="3" />
                </span>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Encounter deck: {{ encounterDeck?.length }}
              </ng-template>

              <div>
                <span *ngFor="let card of encounterDeck; let i = index; trackBy: trackByFn" class="mark-box">
                  <mat-button-toggle-group class="mark-button">
                    <mat-button-toggle (click)="onChooseCard(card, i)">
                      Area
                    </mat-button-toggle>
                  </mat-button-toggle-group>

                  <img [src]="'/assets/img/encounter/' + card.image"
                       alt="" height="150" width="106" hspace="3" vspace="3" />
                </span>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Glossary
              </ng-template>

              <app-glossary></app-glossary>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>

<div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid" *ngIf="!shuffled">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>Deck size: {{ encounterDeck?.length + stagingArea?.length + discardPile?.length + (activeLocation ? 1 : 0) }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
          <div fxFlex="20">
            <p>{{ text }}</p>

            <button mat-raised-button color="accent" [disabled]="!encounterDeck?.length" (click)="onShuffleEncounter()">
              <mat-icon>wifi_protected_setup</mat-icon>
              Shuffle &amp; Start
            </button>
          </div>

          <div fxFlex="60">
            <span *ngFor="let card of encounterDeck; trackBy: trackByFn">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + card.image"
                   alt="" height="130" width="92" hspace="8" vspace="8"
                   (click)="onPreviewCard(card)" />
            </span>

            <span *ngFor="let card of stagingArea; trackBy: trackByFn">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + card.image"
                   alt="" height="130" width="92" hspace="8" vspace="8"
                   (click)="onPreviewCard(card)" />
            </span>

            <span *ngFor="let card of discardPile; trackBy: trackByFn">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + card.image"
                   alt="" height="130" width="92" hspace="8" vspace="8"
                   (click)="onPreviewCard(card)" />
            </span>

            <span *ngIf="activeLocation">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + activeLocation.image"
                   alt="" height="130" width="92" hspace="8" vspace="8"
                   (click)="onPreviewCard(activeLocation)" />
            </span>
          </div>

          <div fxFlex="20">
            <ng-container *ngIf="previewCard; else enlargeImage">
              <img [src]="'/assets/img/encounter/' + previewCard.image" alt="" width="300" (click)="onPreviewCard(null)" />
            </ng-container>

            <ng-template #enlargeImage>
              <button mat-button type="button">
                <mat-icon>info</mat-icon>
                Click image to enlarge
              </button>
            </ng-template>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
