<div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ title }}

          <button mat-button [color]="difficult <= 4 ? 'accent' : (difficult >= 7 ? 'primary' : 'warn')">
            {{ difficult <= 4 ? 'Easy' : (difficult >= 7 ? 'Hard' : 'Medium') }}
          </button>
        </mat-card-title>
        <mat-card-subtitle>Deck size: {{ encounterDeck?.length + stagingArea?.length + discardPile?.length + (activeLocation ? 1 : 0) }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
          <div fxFlex="20">
            <p>{{ text }}</p>

            <button mat-button color="accent" (click)="onStartReading()">
              <mat-icon>play_circle_outline</mat-icon>
              Read
            </button>

            <button mat-button color="accent" (click)="onPauseReading()">
              <mat-icon>pause_circle_outline</mat-icon>
              Stop
            </button>

            <button mat-button color="warn" [disabled]="!encounterDeck?.length" (click)="onStartQuest()">
              <mat-icon>wifi_protected_setup</mat-icon>
              Shuffle &amp; Start
            </button>
          </div>

          <div fxFlex="60">
            <span *ngFor="let card of encounterDeck; trackBy: trackByFn">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + card.image"
                   alt="" height="130" width="92" hspace="8" vspace="8"
                   (mouseover)="onPreviewCard(card)"
                   (mouseout)="onPreviewCard(null)" />
            </span>

            <span *ngFor="let card of stagingArea; trackBy: trackByFn">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + card.image"
                   alt="" height="130" width="92" hspace="8" vspace="8"
                   (mouseover)="onPreviewCard(card)"
                   (mouseout)="onPreviewCard(null)" />
            </span>

            <span *ngFor="let card of discardPile; trackBy: trackByFn">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + card.image"
                   alt="" height="130" width="92" hspace="8" vspace="8"
                   (mouseover)="onPreviewCard(card)"
                   (mouseout)="onPreviewCard(null)" />
            </span>

            <span *ngIf="activeLocation">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + activeLocation.image"
                   alt="" height="130" width="92" hspace="8" vspace="8"
                   (mouseover)="onPreviewCard(activeLocation)"
                   (mouseout)="onPreviewCard(null)" />
            </span>
          </div>

          <div fxFlex="20">
            <ng-container *ngIf="previewCard; else enlargeImage">
              <img [src]="'/assets/img/encounter/' + previewCard.image" alt="" width="300" (click)="onPreviewCard(null)" />
            </ng-container>

            <ng-template #enlargeImage>
              <button mat-button type="button">
                <mat-icon>info</mat-icon>
                Hover image to enlarge
              </button>
            </ng-template>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
