@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import '~ngx-toastr/toastr';

@font-face {
  font-family: "Icons";
  src: local("Icons"), url(./assets/fonts/Icons.ttf) format("truetype");
}

body {
  background-image: url("/assets/img/playmat.jpg");
  background-size: auto;
  height: 100%;
  margin: 0;
}

.container {
  max-width: 100%;
  padding: 15px 0 15px 15px;
}

button,
strong,
mat-card-title,
mat-card-subtitle,
mat-panel-title,
.toast-container,
.mat-tab-label-content {
  font-family: "Redressed" !important;
  font-size: 18px !important;
}

.mat-tab-label {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  min-width: auto !important;
  padding: 0 15px !important;
}

img {
  box-shadow: 3px 3px 6px #000;
  border-radius: 15px;
  cursor: pointer;
  transition: 250ms all ease-out;

  &:hover {
    border-color: #eee;
    transform: rotate(3deg) scale(1.1);
    z-index: 1000;
  }

  &.zoom {
    transition: 250ms ease-in-out all;

    &:hover {
      transform: scale(1.3);
    }
  }
}

p {
  line-height: 1.5em !important;
}

mat-card,
.mat-menu-panel,
.mat-dialog-container {
  background-color: rgba(0,0,0,0.7) !important;
  z-index: 400;
}

.mat-table,
.mat-paginator,
mat-expansion-panel {
  background-color: transparent !important;
  z-index: 400;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tactics:before {
  color: #c00106;
  content: "\e60a";
}

.icon-spirit:before {
  color: #00b1d4;
  content: "\e608";
}

.icon-leadership:before {
  color: #ad62a5;
  content: "\e609";
}

.icon-lore:before {
  color: #51b848;
  content: "\e60b";
}

.icon-neutral:before {
  content: "\e60e";
}

.icon-baggins:before {
  color: #b39e26;
  content: "\e60c";
}

.icon-fellowship:before {
  color: #b56c0c;
  content: "\e60d";
}

.icon-hero,
.icon-ally,
.icon-event,
.icon-attachment {
  position: relative;

  :before {
    opacity: 0;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
}

.icon-hero {
  &:before {
    content: "\e622";
  }

  &:after {
    content: "\e61b";
  }
}

.icon-ally {
  &:before {
    content: "\e623";
  }

  &:after {
    content: "\e61c";
  }
}

.icon-event {
  &:before {
    content: "\e625";
  }

  &:after {
    content: "\e61e";
  }
}


.icon-attachment {
  &:before {
    content: "\e624";
  }

  &:after {
    content: "\e61d";
  }
}
