@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

html, body { height: 100%; }
body {
  background-attachment: fixed;
  background-image: url("/assets/img/middle-earth.png");
  background-size: cover;
  margin: 0;
}

body, button, .mat-tab-label-content, mat-card-title, mat-card-subtitle, mat-panel-title {
  font-family: "Redressed" !important;
  font-size: 18px !important;
}

img {
  box-shadow: 2px 2px 4px #000;
  border-radius: 15px;
  cursor: pointer;
  transition: 250ms all ease-out;

  &:hover {
    border-color: #eee;
    transform: rotate(3deg) scale(1.1);
    z-index: 1000;
  }

  &.zoom {
    transition: 250ms ease-in-out all;

    &:hover {
      transform: scale(1.3);
    }
  }
}

p {
  line-height: 1.5em !important;
}

.container { padding: 15px; max-width: 100%; }

hr, mat-card, mat-expansion-panel { z-index: 10000; background-color: rgba(0,0,0,0.5) !important; border: none; }
img { &:hover { z-index: 1000; } }

.mat-button-toggle-group {
  .mat-button-toggle-label-content {
    line-height: normal !important;
    padding: 1px 5px !important;
  }

  .mat-button-toggle-checked {
    background-color: #fff !important;
    color: #000 !important;
  }
}

.mark-box {
  position: relative;

  .mark-button {
    position: absolute;
    left: 2px;
  }
}
