<div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid"
     *ngIf="cycles$ | async as cycles">
  <div fxFlex="33" *ngFor="let cycle of cycles['value']; trackBy: trackByFn">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ cycle.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="space-between">
        <div>
          <div *ngFor="let scenario of cycle.scenarios; let i = index; trackBy: trackByFn">
            <button mat-button disabled>#{{ i + 1 }}</button>

            <button mat-button
                    type="button"
                    [routerLink]="'../' + cycle.name + '/' + scenario.name"
                    [disabled]="!scenario.name || scenario.id === 12 || scenario.id === 29">
              {{ scenario.title ? scenario.title : 'not available' }}

              <span [ngStyle]="{ 'margin-left': '25px', 'color': scenario.difficult <= 4 ? '#DAF7A6' : (scenario.difficult >= 7 ? '#900C3F' : '#FF5733') }">
                <ng-container [ngSwitch]="scenario.difficult">
                  <ng-container *ngSwitchCase="1">Very easy</ng-container>
                  <ng-container *ngSwitchCase="2">Very easy</ng-container>
                  <ng-container *ngSwitchCase="3">Easy</ng-container>
                  <ng-container *ngSwitchCase="4">Easy</ng-container>
                  <ng-container *ngSwitchCase="5">Medium</ng-container>
                  <ng-container *ngSwitchCase="6">Medium</ng-container>
                  <ng-container *ngSwitchCase="7">Hard</ng-container>
                  <ng-container *ngSwitchCase="8">Hard</ng-container>
                  <ng-container *ngSwitchCase="9">Very hard</ng-container>
                  <ng-container *ngSwitchCase="10">Very hard</ng-container>
                </ng-container>
              </span>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
