<div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid" *ngIf="scenario$ | async as scenario">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{ scenario.title }}

                    <button mat-button
                            type="button"
                            [matTooltip]="scenario.difficult"
                            [matTooltipPosition]="'right'"
                            [color]="scenario.difficult <= 4 ? 'accent' : (scenario.difficult >= 7 ? 'primary' : 'warn')">
                        <ng-container [ngSwitch]="scenario.difficult">
                            <ng-container *ngSwitchCase="1">Very easy</ng-container>
                            <ng-container *ngSwitchCase="2">Very easy</ng-container>
                            <ng-container *ngSwitchCase="3">Easy</ng-container>
                            <ng-container *ngSwitchCase="4">Easy</ng-container>
                            <ng-container *ngSwitchCase="5">Medium</ng-container>
                            <ng-container *ngSwitchCase="6">Medium</ng-container>
                            <ng-container *ngSwitchCase="7">Hard</ng-container>
                            <ng-container *ngSwitchCase="8">Hard</ng-container>
                            <ng-container *ngSwitchCase="9">Very hard</ng-container>
                            <ng-container *ngSwitchCase="10">Very hard</ng-container>
                        </ng-container>
                    </button>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
                    <div fxFlex="35">
                        <button mat-button color="warn" [disabled]="!scenario.encounterDeck?.length" (click)="onStartQuest()">
                            <mat-icon>wifi_protected_setup</mat-icon>
                            Shuffle &amp; Start
                        </button>

                        <p>{{ scenario.text }}</p>

                        <button mat-button color="accent" [disabled]="!speechSupport" (click)="onStartReading()">
                            <mat-icon>play_circle_outline</mat-icon>
                            Read
                        </button>

                        <button mat-button color="accent" [disabled]="!speechSupport" (click)="onPauseReading()">
                            <mat-icon>pause_circle_outline</mat-icon>
                            Stop
                        </button>
                    </div>

                    <div fxFlex="50">
                        <span *ngFor="let campaign of scenario.campaignDeck; let i = index; trackBy: trackByFn">
                          <img [src]="'/assets/img/campaign/' + campaign + '.png'"
                               (mouseover)="zoomService.mouseover('/assets/img/campaign/', campaign + '.png', 'left')"
                               (mouseout)="zoomService.mouseout()"
                               width="150" alt="" hspace="5" vspace="5" />
                        </span>

                        <span *ngFor="let quest of scenario.questDeck; let i = index; trackBy: trackByFn">
                          <img [src]="'/assets/img/quest/' + quest.image + '.jpg'"
                               (mouseover)="zoomService.mouseover('/assets/img/quest/', quest.image + '.jpg', 'left', false)"
                               (mouseout)="zoomService.mouseout()"
                               width="150" alt="" hspace="5" vspace="5" />
                        </span>
                    </div>

                    <div fxFlex="15">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                {{ scenario.questDeck.length }}x
                                <mat-icon [ngStyle]="{ 'margin': '0 5px' }" color="accent">note</mat-icon>
                                Quest deck
                            </mat-list-item>

                            <mat-list-item role="listitem">
                                {{ scenario.encounterDeck.length }}x
                                <mat-icon [ngStyle]="{ 'margin': '0 5px' }" color="accent">file_copy</mat-icon>
                                Encounter deck
                            </mat-list-item>

                            <mat-list-item role="listitem">
                                {{ scenario.stagingArea.length }}x
                                <mat-icon [ngStyle]="{ 'margin': '0 5px' }" color="accent">note_add</mat-icon>
                                Staging area
                            </mat-list-item>

                            <mat-list-item role="listitem">
                                {{ scenario.discardPile.length }}x
                                <mat-icon [ngStyle]="{ 'margin': '0 5px' }" color="accent">restore_page</mat-icon>
                                Discard pile
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
