<div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid" *ngIf="scenario$ | async as scenario">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{ scenario.title }}

                    <button mat-button
                            type="button"
                            [matTooltip]="scenario.difficult"
                            [matTooltipPosition]="'right'"
                            [color]="scenario.difficult <= 4 ? 'accent' : (scenario.difficult >= 7 ? 'primary' : 'warn')">
                        <ng-container [ngSwitch]="scenario.difficult">
                            <ng-container *ngSwitchCase="1">Very easy</ng-container>
                            <ng-container *ngSwitchCase="2">Very easy</ng-container>
                            <ng-container *ngSwitchCase="3">Easy</ng-container>
                            <ng-container *ngSwitchCase="4">Easy</ng-container>
                            <ng-container *ngSwitchCase="5">Medium</ng-container>
                            <ng-container *ngSwitchCase="6">Medium</ng-container>
                            <ng-container *ngSwitchCase="7">Hard</ng-container>
                            <ng-container *ngSwitchCase="8">Hard</ng-container>
                            <ng-container *ngSwitchCase="9">Very hard</ng-container>
                            <ng-container *ngSwitchCase="10">Very hard</ng-container>
                        </ng-container>
                    </button>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px grid">
                    <div fxFlex="20">
                        <button mat-button color="warn" [disabled]="!scenario.encounterDeck?.length" (click)="onStartQuest()">
                            <mat-icon>wifi_protected_setup</mat-icon>
                            Shuffle &amp; Start
                        </button>

                        <p>{{ scenario.text }}</p>

                        <button mat-button color="accent" [disabled]="!speechSupport" (click)="onStartReading()">
                            <mat-icon>play_circle_outline</mat-icon>
                            Read
                        </button>

                        <button mat-button color="accent" [disabled]="!speechSupport" (click)="onPauseReading()">
                            <mat-icon>pause_circle_outline</mat-icon>
                            Stop
                        </button>
                    </div>

                    <div fxFlex="63">
            <span *ngFor="let card of scenario.encounterDeck; trackBy: trackByFn">
              <img [defaultImage]="'https://via.placeholder.com/92x130/000/?text=LOTR'"
                   [lazyLoad]="'/assets/img/encounter/' + card.image + '.jpg'"
                   alt="" hspace="8" vspace="8"
                   [height]="card.type === 'quest' ? 92 : 130"
                   [width]="card.type === 'quest' ? 130 : 92"
                   (mouseover)="zoomService.mouseover(
                   '/assets/img/encounter/',
                    card.image + '.jpg',
                     (card.type === 'location' || card.type === 'quest') ? 'left' : 'right',
                     card.type !== 'quest')"
                   (mouseout)="zoomService.mouseout()" />
            </span>
                    </div>

                    <div fxFlex="17">
            <span *ngFor="let campaign of scenario.campaignDeck; let i = index; trackBy: trackByFn">
              <img [src]="'/assets/img/campaign/' + campaign + '.png'"
                   (mouseover)="zoomService.mouseover('/assets/img/campaign/', campaign + '.png', 'left')"
                   (mouseout)="zoomService.mouseout()"
                   width="105" alt="" hspace="5" vspace="5" />
            </span>

                        <span *ngFor="let quest of scenario.questDeck; let i = index; trackBy: trackByFn">
              <img [src]="'/assets/img/quest/' + quest.image + '.jpg'"
                   (mouseover)="zoomService.mouseover('/assets/img/quest/', quest.image + '.jpg', 'left', false)"
                   (mouseout)="zoomService.mouseout()"
                   width="105" alt="" hspace="5" vspace="5" />
            </span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
